.item {
  border-bottom: 1px solid;
  height: 50px;
  list-style-type: none;
  padding-top: 16px;
  font-size: 20px;
  background: white no-repeat;
  background-image: linear-gradient(to bottom, #4d90fe, #4d90fe),
    linear-gradient(to bottom, silver, silver);
  background-size: 0 2px, 100% 0px;
  background-position: 50% 100%, 50% 100%;
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.dropBox {
  width: 100% !important;
  cursor: pointer;
}

.item:hover {
  transition: 0.7s;
  background-color: rgba(243, 242, 242, 0.795);
}

.border-focus {
  padding-top: 15px !important;
  background-size: 100% 2px, 100% 1px;
  outline: none;
  border: 0;
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.item-name {
  padding-left: 14px;
  cursor: pointer;
  display: inline-block;
}

.task-checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.name-input {
  padding-left: 14px;
  border: 0;
  width: 85%;
}

.name-input:focus {
  background-size: 100% 2px, 100% 1px;
  outline: none;
  border: 0;
}

.task-button {
  transition-duration: 0.4s;
  float: right;
  background: transparent;
  border: 2px solid #3d3a40;
  border-radius: 2em;
  font-size: 12px;
  height: 20px;
  line-height: 2px;
  margin: 0 0 8px;
  padding: 0;
  text-align: center;
  width: 20px;
  cursor: pointer;
}

.task-button:hover {
  color: #e74c3c !important;
  border: 2px solid #e74c3c;
}

.tasks-header {
  height: 60px;
  font-size: 24px;
  background-color: #4267b2;
  color: #ffff;
  padding: 8px;
}

.input {
  width: 100%;
  margin: auto;
  margin-top: -10px;
  height: 36px;
  border: 0;
  display: inline-block;
  padding: 10px 5px;
  background: white no-repeat;
  background-image: linear-gradient(to bottom, #4d90fe, #4d90fe),
    linear-gradient(to bottom, silver, silver);
  background-size: 0 2px, 100% 1px;
  background-position: 50% 100%, 50% 100%;
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.input:focus {
  background-size: 100% 2px, 100% 1px;
  outline: none;
}

.nuttin {
  max-width: 100%;
}

.line-through {
  text-decoration: line-through;
}
